(1)
https://github.com/MiaHanzhangYuan/Lab3.git

(2)

In [1]:
import pandas as pd
import numpy as np
import requests
import os
import psycopg2
import zipfile
import io
from sqlalchemy import create_engine
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')

In [31]:
url ='https://databank.worldbank.org/data/download/ESG_CSV.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [5]:
url = 'https://v-dem.net/media/datasets/V-Dem-CY-Core_csv_v13.zip'
r = requests.get(url)
print(r)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

<Response [200]>

In [2]:
wb = pd.read_csv("ESGData.csv")
country = pd.read_csv("ESGCountry.csv")

In [3]:
pd.set_option('max_colwidth',10)

(c)

In [4]:
vdem = pd.read_csv("V-Dem-CY-Core-v13.csv")

In [5]:
vdem = vdem[['country_text_id', 'country_name', 'year', 'v2x_polyarchy']]

In [6]:
vdem.head(3).T

                 0       1       2
country...     MEX     MEX     MEX
country...  Mexico  Mexico  Mexico
year          1789    1790    1791
v2x_pol...   0.028   0.028   0.028

In [7]:
vdem = vdem.query("year>=1960 & year<=2021")

In [8]:
vdem = vdem.rename({'country_text_id':'country_code',
                   'country_name':'country_name_vdem',
                   'v2x_polyarchy':'democracy'}, axis=1)

In [9]:
vdem = vdem.sort_values(by = ['country_code', 'year'], ascending = True)

(d)

In [10]:
country = country[['Country Code', 'Table Name', 'Long Name', 'Currency Unit', 'Region', 'Income Group']]

In [11]:
country.columns = [x.lower() for x in country.columns]
country.columns = [x.replace(' ','_') for x in country.columns]
country.columns

Index(['country_code', 'table_name', 'long_name', 'currency_unit', 'region',
       'income_group'],
      dtype='object')

In [12]:
country = country.rename({'table_name':'country_name_wb'}, axis=1)
country

,country_code,country_name_wb,long_name,currency_unit,region,income_group
0,AFG,Afghan...,Islami...,Afghan...,South ...,Low in...
1,AGO,Angola,People...,Angola...,Sub-Sa...,Lower ...
2,ALB,Albania,Republ...,Albani...,Europe...,Upper ...
3,AND,Andorra,Princi...,Euro,Europe...,High i...
4,ARB,Arab W...,Arab W...,NaN,NaN,NaN
...,...,...,...,...,...,...
234,WSM,Samoa,Samoa,Samoan...,East A...,Lower ...
235,YEM,"Yemen,...",Republ...,Yemeni...,Middle...,Low in...
236,ZAF,South ...,Republ...,South ...,Sub-Sa...,Upper ...
237,ZMB,Zambia,Republ...,New Za...,Sub-Sa...,Lower ...
238,ZWE,Zimbabwe,Republ...,Zimbab...,Sub-Sa...,Lower ...

In [13]:
noncountries = ["Arab World", "Central Europe and the Baltics",
 "Caribbean small states",
 "East Asia & Pacific (excluding high income)",
 "Early-demographic dividend","East Asia & Pacific",
 "Europe & Central Asia (excluding high income)",
 "Europe & Central Asia", "Euro area",
 "European Union","Fragile and conflict affected situations",
 "High income",
 "Heavily indebted poor countries (HIPC)","IBRD only",
 "IDA & IBRD total",
 "IDA total","IDA blend","IDA only",
 "Latin America & Caribbean (excluding high income)",
 "Latin America & Caribbean",
 "Least developed countries: UN classification",
 "Low income","Lower middle income","Low & middle income",
 "Late-demographic dividend","Middle East & North Africa",
 "Middle income",
 "Middle East & North Africa (excluding high income)",
 "North America","OECD members",
 "Other small states","Pre-demographic dividend",
 "Pacific island small states",
 "Post-demographic dividend",
 "Sub-Saharan Africa (excluding high income)","Sub-Saharan Africa",
 "Small states","East Asia & Pacific (IDA & IBRD)",
 "Europe & Central Asia (IDA & IBRD)",
 "Latin America & Caribbean (IDA & IBRD)",
 "Middle East & North Africa (IDA & IBRD)","South Asia",
 "South Asia (IDA & IBRD)",
 "Sub-Saharan Africa (IDA & IBRD)",
 "Upper middle income", "World"]

In [14]:
country.query("country_name_wb not in @noncountries")

,country_code,country_name_wb,long_name,currency_unit,region,income_group
0,AFG,Afghan...,Islami...,Afghan...,South ...,Low in...
1,AGO,Angola,People...,Angola...,Sub-Sa...,Lower ...
2,ALB,Albania,Republ...,Albani...,Europe...,Upper ...
3,AND,Andorra,Princi...,Euro,Europe...,High i...
5,ARE,United...,United...,U.A.E....,Middle...,High i...
...,...,...,...,...,...,...
234,WSM,Samoa,Samoa,Samoan...,East A...,Lower ...
235,YEM,"Yemen,...",Republ...,Yemeni...,Middle...,Low in...
236,ZAF,South ...,Republ...,South ...,Sub-Sa...,Upper ...
237,ZMB,Zambia,Republ...,New Za...,Sub-Sa...,Lower ...
238,ZWE,Zimbabwe,Republ...,Zimbab...,Sub-Sa...,Lower ...

(e)

In [15]:
filter_col = [col for col in wb if col.startswith('19') or col.startswith('20')]

In [16]:
wb = wb[['Country Code', 'Country Name', 'Indicator Code'] + filter_col]

In [17]:
wb.head(3)

,Country Code,Country Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ARB,Arab W...,EG.CFT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.406487,86.705717,86.942778,87.228705,87.390856,87.617862,87.798740,87.948264,88.092536,NaN
1,ARB,Arab W...,EG.ELC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.340705,88.832276,89.053852,89.539016,90.662754,89.176939,90.352802,90.635050,90.845661,NaN
2,ARB,Arab W...,NY.ADJ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.598544,10.263684,6.217421,5.190735,6.458100,8.451699,7.351742,4.347213,NaN,NaN

In [18]:
wb = wb.rename({'Country Code':'country_code',
               'Country Name' : 'country_name_wb',
                'Indicator Code' : 'feature'}, axis=1)

In [19]:
noncountries.remove('World')

In [20]:
replace_map = {
 "AG.LND.AGRI.ZS": "agricultural_land",
 "AG.LND.FRST.ZS": "forest_area",
 "AG.PRD.FOOD.XD": "food_production_index",
 "CC.EST": "control_of_corruption",
 "EG.CFT.ACCS.ZS": "access_to_clean_fuels_and_technologies_for_cooking",
 "EG.EGY.PRIM.PP.KD": "energy_intensity_level_of_primary_energy",
 "EG.ELC.ACCS.ZS": "access_to_electricity",
 "EG.ELC.COAL.ZS": "electricity_production_from_coal_sources",
 "EG.ELC.RNEW.ZS": "renewable_electricity_output",
 "EG.FEC.RNEW.ZS": "renewable_energy_consumption",
 "EG.IMP.CONS.ZS": "energy_imports",
 "EG.USE.COMM.FO.ZS": "fossil_fuel_energy_consumption",
 "EG.USE.PCAP.KG.OE": "energy_use",
 "EN.ATM.CO2E.PC": "co2_emissions",
 "EN.ATM.METH.PC": "methane_emissions",
 "EN.ATM.NOXE.PC": "nitrous_oxide_emissions",
 "EN.ATM.PM25.MC.M3": "pm2_5_air_pollution",
 "EN.CLC.CDDY.XD": "cooling_degree_days",
 "EN.CLC.GHGR.MT.CE": "ghg_net_emissions",
 "EN.CLC.HEAT.XD": "heat_index_35",
 "EN.CLC.MDAT.ZS": "droughts",
 "EN.CLC.PRCP.XD": "maximum_5-day_rainfall",
 "EN.CLC.SPEI.XD": "mean_drought_index","EN.MAM.THRD.NO": "mammal_species",
 "EN.POP.DNST": "population_density",
 "ER.H2O.FWTL.ZS": "annual_freshwater_withdrawals",
 "ER.PTD.TOTL.ZS": "terrestrial_and_marine_protected_areas",
 "GB.XPD.RSDV.GD.ZS": "research_and_development_expenditure",
 "GE.EST": "government_effectiveness",
 "IC.BUS.EASE.XQ": "ease_of_doing_business_rank",
 "IC.LGL.CRED.XQ": "strength_of_legal_rights_index",
 "IP.JRN.ARTC.SC": "scientific_and_technical_journal_articles",
 "IP.PAT.RESD": "patent_applications",
 "IT.NET.USER.ZS": "individuals_using_the_internet",
 "NV.AGR.TOTL.ZS": "agriculture",
 "NY.ADJ.DFOR.GN.ZS": "net_forest_depletion",
 "NY.ADJ.DRES.GN.ZS": "natural_resources_depletion",
 "NY.GDP.MKTP.KD.ZG": "gdp_growth",
 "PV.EST": "political_stability_and_absence_of_violence",
 "RL.EST": "rule_of_law",
 "RQ.EST": "regulatory_quality",
 "SE.ADT.LITR.ZS": "literacy_rate",
 "SE.ENR.PRSC.FM.ZS": "gross_school_enrollment",
 "SE.PRM.ENRR": "primary_school_enrollment",
 "SE.XPD.TOTL.GB.ZS": "government_expenditure_on_education",
 "SG.GEN.PARL.ZS": "proportion_of_seats_held_by_women_in_national_parliamen",
 "SH.DTH.COMM.ZS": "cause_of_death",
 "SH.DYN.MORT": "mortality_rate",
 "SH.H2O.SMDW.ZS": "people_using_safely_managed_drinking_water_services",
 "SH.MED.BEDS.ZS": "hospital_beds",
 "SH.STA.OWAD.ZS": "prevalence_of_overweight",
 "SH.STA.SMSS.ZS": "people_using_safely_managed_sanitation_services",
 "SI.DST.FRST.20": "income_share_held_by_lowest_20pct",
 "SI.POV.GINI": "gini_index",
 "SI.POV.NAHC": "poverty_headcount_ratio_at_national_poverty_lines",
 "SI.SPR.PCAP.ZG": "annualized_average_growth_rate_in_per_capita_real_surve",
 "SL.TLF.0714.ZS": "children_in_employment",
 "SL.TLF.ACTI.ZS": "labor_force_participation_rate",
 "SL.TLF.CACT.FM.ZS": "ratio_of_female_to_male_labor_force_participation_ra",
 "SL.UEM.TOTL.ZS": "unemployment",
 "SM.POP.NETM": "net_migration",
 "SN.ITK.DEFC.ZS": "prevalence_of_undernourishment",
 "SP.DYN.LE00.IN": "life_expectancy_at_birth",
 "SP.DYN.TFRT.IN": "fertility_rate",
 "SP.POP.65UP.TO.ZS": "population_ages_65_and_above",
 "SP.UWT.TFRT": "unmet_need_for_contraception",
 "VA.EST": "voice_and_accountability",
 "EN.CLC.CSTP.ZS": "coastal_protection",
 "SD.ESR.PERF.XQ": "economic_and_social_rights_performance_score",
 "EN.CLC.HDDY.XD": "heating_degree_days",
 "EN.LND.LTMP.DC": "land_surface_temperature",
 "ER.H2O.FWST.ZS": "freshwater_withdrawal",
 "EN.H2O.BDYS.ZS": "water_quality",
 "AG.LND.FRLS.HA": "tree_cover_loss",
}

In [21]:
wb = wb.replace(replace_map)

In [22]:
wb

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ARB,Arab W...,access...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.406487,86.705717,86.942778,87.228705,87.390856,87.617862,87.798740,87.948264,88.092536,NaN
1,ARB,Arab W...,access...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.340705,88.832276,89.053852,89.539016,90.662754,89.176939,90.352802,90.635050,90.845661,NaN
2,ARB,Arab W...,natura...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.598544,10.263684,6.217421,5.190735,6.458100,8.451699,7.351742,4.347213,NaN,NaN
3,ARB,Arab W...,net_fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.062081,0.084113,0.098458,0.093562,0.095137,0.050799,0.061584,0.077949,NaN,NaN
4,ARB,Arab W...,agricu...,NaN,30.981414,30.982663,31.007054,31.018001,31.042466,31.0504,...,39.838650,39.834421,39.872575,39.937814,39.984452,39.969738,39.907031,39.973290,39.970742,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16964,ZWE,Zimbabwe,terres...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27.214542,27.214585,27.214585,27.214747,27.214747,27.214747,27.214747
16965,ZWE,Zimbabwe,tree_c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16966,ZWE,Zimbabwe,unempl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.994000,4.770000,5.282000,5.796000,6.279000,6.784000,7.370000,7.898000,8.067000,7.945000
16967,ZWE,Zimbabwe,unmet_...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16968,ZWE,Zimbabwe,voice_...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.386220,-1.256889,-1.166087,-1.178460,-1.195905,-1.136798,-1.163669,-1.113408,-1.135830,-1.102206

(f)

In [23]:
wb1 = pd.melt(wb, id_vars=wb.columns[:3],value_vars = wb.columns[3:])

In [24]:
wb1 = wb1.rename({'variable':'year'}, axis=1)

In [25]:
wb1 = wb1.assign(feature = wb1['feature'])
#wb1 = wb1.drop(['feature'], axis=1)

In [26]:
wb1 = wb1.pivot_table(index=['country_code','country_name_wb','year'],
                     columns = 'feature',
                     values = 'value')
wb1

feature                     access_to_clean_fuels_and_technologies_for_cooking  \
country... country... year
AFG        Afghani... 1960        NaN
                      1961        NaN
                      1962        NaN
                      1963        NaN
                      1964        NaN
...                               ...
ZWE        Zimbabwe   2018       30.0
                      2019       30.2
                      2020       30.3
                      2021       30.3
                      2022        NaN

feature                     access_to_electricity  agricultural_land  \
country... country... year
AFG        Afghani... 1960        NaN                    NaN
                      1961        NaN              57.878356
                      1962        NaN              57.955016
                      1963        NaN              58.031676
                      1964        NaN              58.116002
...                               ...                    ...
ZWE        Zimbabwe   2018  45.400288              41.876696
                      2019  46.682095              41.876696
                      2020  52.747667              41.876696
                      2021  48.979927              41.876696
                      2022        NaN                    NaN

feature                     agriculture  annual_freshwater_withdrawals  \
country... country... year
AFG        Afghani... 1960        NaN          NaN
                      1961        NaN          NaN
                      1962        NaN          NaN
                      1963        NaN          NaN
                      1964        NaN          NaN
...                               ...          ...
ZWE        Zimbabwe   2018   7.319375    30.761677
                      2019   9.819262    30.761677
                      2020   8.772859    30.761677
                      2021   8.849899          NaN
                      2022        NaN          NaN

feature                     annualized_average_growth_rate_in_per_capita_real_surve  \
country... country... year
AFG        Afghani... 1960        NaN
                      1961        NaN
                      1962        NaN
                      1963        NaN
                      1964        NaN
...                               ...
ZWE        Zimbabwe   2018        NaN
                      2019        NaN
                      2020        NaN
                      2021        NaN
                      2022        NaN

feature                     cause_of_death  children_in_employment  \
country... country... year
AFG        Afghani... 1960        NaN             NaN
                      1961        NaN             NaN
                      1962        NaN             NaN
                      1963        NaN             NaN
                      1964        NaN             NaN
...                               ...             ...
ZWE        Zimbabwe   2018        NaN             NaN
                      2019  47.647301             NaN
                      2020        NaN             NaN
                      2021        NaN             NaN
                      2022        NaN             NaN

feature                     co2_emissions  coastal_protection  ...  \
country... country... year                                     ...
AFG        Afghani... 1960        NaN            NaN           ...
                      1961        NaN            NaN           ...
                      1962        NaN            NaN           ...
                      1963        NaN            NaN           ...
                      1964        NaN            NaN           ...
...                               ...            ...           ...
ZWE        Zimbabwe   2018   0.735435            NaN           ...
                      2019   0.663338            NaN           ...
                      2020   0.530484            NaN           ...
                      2021        NaN            NaN           ...
                      2022        NaN            NaN           ...

feature                     research_and_development_expenditure  rule_of_law  \
country... country... year
AFG        Afghani... 1960        NaN                                   NaN
                      1961        NaN                                   NaN
                      1962        NaN                                   NaN
                      1963        NaN                                   NaN
                      1964        NaN                                   NaN
...                               ...                                   ...
ZWE        Zimbabwe   2018        NaN                             -1.292463
                      2019        NaN                             -1.303515
                      2020        NaN                             -1.329611
                      2021        NaN                             -1.277202
                      2022        NaN                             -1.236284

feature                     scientific_and_technical_journal_articles  \
country... country... year
AFG        Afghani... 1960        NaN
                      1961        NaN
                      1962        NaN
                      1963        NaN
                      1964        NaN
...                               ...
ZWE        Zimbabwe   2018     406.23
                      2019     431.62
                      2020     480.16
                      2021        NaN
                      2022        NaN

feature                     strength_of_legal_rights_index  \
country... country... year
AFG        Afghani... 1960        NaN
                      1961        NaN
                      1962        NaN
                      1963        NaN
                      1964        NaN
...                               ...
ZWE        Zimbabwe   2018        5.0
                      2019        6.0
                      2020        NaN
                      2021        NaN
                      2022        NaN

feature                     terrestrial_and_marine_protected_areas  \
country... country... year
AFG        Afghani... 1960        NaN
                      1961        NaN
                      1962        NaN
                      1963        NaN
                      1964        NaN
...                               ...
ZWE        Zimbabwe   2018  27.214585
                      2019  27.214747
                      2020  27.214747
                      2021  27.214747
                      2022  27.214747

feature                     tree_cover_loss  unemployment  \
country... country... year
AFG        Afghani... 1960        NaN              NaN
                      1961        NaN              NaN
                      1962        NaN              NaN
                      1963        NaN              NaN
                      1964        NaN              NaN
...                               ...              ...
ZWE        Zimbabwe   2018        NaN            6.784
                      2019        NaN            7.370
                      2020        NaN            7.898
                      2021        NaN            8.067
                      2022        NaN            7.945

feature                     unmet_need_for_contraception  \
country... country... year
AFG        Afghani... 1960        NaN
                      1961        NaN
                      1962        NaN
                      1963        NaN
                      1964        NaN
...                               ...
ZWE        Zimbabwe   2018        NaN
                      2019        NaN
                      2020        NaN
                      2021        NaN
                      2022        NaN

feature                     voice_and_accountability  water_quality
country... country... year
AFG        Afghani... 1960        NaN                       NaN
                      1961        NaN                       NaN
                      1962        NaN                       NaN
                      1963        NaN                       NaN
                      1964        NaN                       NaN
...                               ...                       ...
ZWE        Zimbabwe   2018  -1.136798                       NaN
                      2019  -1.163669                       NaN
                      2020  -1.113408                      83.3
                      2021  -1.135830                       NaN
                      2022  -1.102206                       NaN

[15057 rows x 71 columns]

(g)

In [27]:
wb1 = pd.DataFrame(wb1.to_records())

In [28]:
wb1["year"] = wb1["year"].astype(int)

In [29]:
wb1

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_surve,cause_of_death,...,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality
0,AFG,Afghan...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghan...,1961,NaN,NaN,57.878356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghan...,1962,NaN,NaN,57.955016,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghan...,1963,NaN,NaN,58.031676,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghan...,1964,NaN,NaN,58.116002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15052,ZWE,Zimbabwe,2018,30.0,45.400288,41.876696,7.319375,30.761677,NaN,NaN,...,NaN,-1.292463,406.23,5.0,27.214585,NaN,6.784,NaN,-1.136798,NaN
15053,ZWE,Zimbabwe,2019,30.2,46.682095,41.876696,9.819262,30.761677,NaN,47.647301,...,NaN,-1.303515,431.62,6.0,27.214747,NaN,7.370,NaN,-1.163669,NaN
15054,ZWE,Zimbabwe,2020,30.3,52.747667,41.876696,8.772859,30.761677,NaN,NaN,...,NaN,-1.329611,480.16,NaN,27.214747,NaN,7.898,NaN,-1.113408,83.3
15055,ZWE,Zimbabwe,2021,30.3,48.979927,41.876696,8.849899,NaN,NaN,NaN,...,NaN,-1.277202,NaN,NaN,27.214747,NaN,8.067,NaN,-1.135830,NaN
15056,ZWE,Zimbabwe,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.236284,NaN,NaN,27.214747,NaN,7.945,NaN,-1.102206,NaN

(h)

In [30]:
#Create a new dataframe containing just the rows from the World Bank country-timeseries dataset that refer to the whole world. 

wb2 = wb1[wb1['country_name_wb']=='World']

In [31]:
#Then remove the "World" rows from the World Bank country-time-series dataset

wb1 = wb1.query("country_name_wb not in ['World']")

In [32]:
#Drop the 'country_code' and 'country_name_wb' from the world dataset.

wb2 = wb2.drop(labels = ['country_code', 'country_name_wb'],axis =1)

In [33]:
#with the exception of the year column, rename all columns in the world dataset by adding "world_" in front of the column name.

wb2 = wb2.rename({'Indicator Name':'world_Indicator Name', 'Indicator Code':'world_Indicator Code'}, axis=1)

(i)

First, write a sentence stating whether you expect this merge to be one-to-one, many-to-one, one-to-many, or many-to-many, and describe your rationale.
I expect this merge to be many_to_many because I don't know about their relationship.

In [34]:
#Second, merge the two datasets together in a way that checks whether your expectation is met, and also allows you to see the rows that failed to match.
merge1 = pd.merge(wb1, vdem,
                on = ['country_code', 'year'],
                how = 'outer',
                validate = 'many_to_many',
                indicator = 'matched')

In [35]:
merge1

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_surve,cause_of_death,...,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality,country_name_vdem,democracy,matched
0,AFG,Afghan...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.080,both
1,AFG,Afghan...,1961,NaN,NaN,57.878356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.083,both
2,AFG,Afghan...,1962,NaN,NaN,57.955016,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.082,both
3,AFG,Afghan...,1963,NaN,NaN,58.031676,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.085,both
4,AFG,Afghan...,1964,NaN,NaN,58.116002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.137,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15384,ZZB,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zanzibar,0.267,right_...
15385,ZZB,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zanzibar,0.268,right_...
15386,ZZB,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zanzibar,0.266,right_...
15387,ZZB,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zanzibar,0.258,right_...
15388,ZZB,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zanzibar,0.276,right_...

(j)

In [36]:
merge1['matched'].value_counts()

matched
both          9976
left_only     5018
right_only     395
Name: count, dtype: int64

In [52]:
# First use .query() to keep only the observations that were present in the World Bank data but not V-Dem.
pd.set_option("display.max_colwidth", 70)

In [53]:
wbonly = merge1.query("matched =='left_only'")

In [54]:
#Then save the minimum and maximum values of 'year' for each country
wbmax = wbonly.groupby(['country_code', 'country_name_wb'])\
.agg({'year':'max'}).reset_index()
wbmax

    country_code                                     country_name_wb  year
0            AFG                                         Afghanistan  2022
1            AGO                                              Angola  2022
2            ALB                                             Albania  2022
3            AND                                             Andorra  2022
4            ARB                                          Arab World  2022
5            ARE                                United Arab Emirates  2022
6            ARG                                           Argentina  2022
7            ARM                                             Armenia  2022
8            ATG                                 Antigua and Barbuda  2022
9            AUS                                           Australia  2022
10           AUT                                             Austria  2022
11           AZE                                          Azerbaijan  2022
12           BDI                                             Burundi  2022
13           BEL                                             Belgium  2022
14           BEN                                               Benin  2022
15           BFA                                        Burkina Faso  2022
16           BGD                                          Bangladesh  2022
17           BGR                                            Bulgaria  2022
18           BHR                                             Bahrain  2022
19           BHS                                        Bahamas, The  2022
20           BIH                              Bosnia and Herzegovina  2022
21           BLR                                             Belarus  2022
22           BLZ                                              Belize  2022
23           BOL                                             Bolivia  2022
24           BRA                                              Brazil  2022
25           BRB                                            Barbados  2022
26           BRN                                   Brunei Darussalam  2022
27           BTN                                              Bhutan  2022
28           BWA                                            Botswana  2022
29           CAF                            Central African Republic  2022
30           CAN                                              Canada  2022
31           CEB                      Central Europe and the Baltics  2022
32           CHE                                         Switzerland  2022
33           CHL                                               Chile  2022
34           CHN                                               China  2022
35           CIV                                       Cote d'Ivoire  2022
36           CMR                                            Cameroon  2022
37           COD                                    Congo, Dem. Rep.  2022
38           COG                                         Congo, Rep.  2022
39           COL                                            Colombia  2022
40           COM                                             Comoros  2022
41           CPV                                          Cabo Verde  2022
42           CRI                                          Costa Rica  2022
43           CSS                              Caribbean small states  2022
44           CUB                                                Cuba  2022
45           CYP                                              Cyprus  2022
46           CZE                                             Czechia  2022
47           DEU                                             Germany  2022
48           DJI                                            Djibouti  2022
49           DMA                                            Dominica  2022
50           DNK                                             Denmark  2022
51           DOM                                  Dominican Republic  2022
52           DZA                                             Algeria  2022
53           EAP         East Asia & Pacific (excluding high income)  2022
54           EAR                          Early-demographic dividend  2022
55           EAS                                 East Asia & Pacific  2022
56           ECA       Europe & Central Asia (excluding high income)  2022
57           ECS                               Europe & Central Asia  2022
58           ECU                                             Ecuador  2022
59           EGY                                    Egypt, Arab Rep.  2022
60           EMU                                           Euro area  2022
61           ERI                                             Eritrea  2022
62           ESP                                               Spain  2022
63           EST                                             Estonia  2022
64           ETH                                            Ethiopia  2022
65           EUU                                      European Union  2022
66           FCS            Fragile and conflict affected situations  2022
67           FIN                                             Finland  2022
68           FJI                                                Fiji  2022
69           FRA                                              France  2022
70           FSM                               Micronesia, Fed. Sts.  2022
71           GAB                                               Gabon  2022
72           GBR                                      United Kingdom  2022
73           GEO                                             Georgia  2022
74           GHA                                               Ghana  2022
75           GIN                                              Guinea  2022
76           GMB                                         Gambia, The  2022
77           GNB                                       Guinea-Bissau  2022
78           GNQ                                   Equatorial Guinea  2022
79           GRC                                              Greece  2022
80           GRD                                             Grenada  2022
81           GTM                                           Guatemala  2022
82           GUY                                              Guyana  2022
83           HIC                                         High income  2022
84           HND                                            Honduras  2022
85           HPC              Heavily indebted poor countries (HIPC)  2022
86           HRV                                             Croatia  2022
87           HTI                                               Haiti  2022
88           HUN                                             Hungary  2022
89           IBD                                           IBRD only  2022
90           IBT                                    IDA & IBRD total  2022
91           IDA                                           IDA total  2022
92           IDB                                           IDA blend  2022
93           IDN                                           Indonesia  2022
94           IDX                                            IDA only  2022
95           IND                                               India  2022
96           IRL                                             Ireland  2022
97           IRN                                  Iran, Islamic Rep.  2022
98           IRQ                                                Iraq  2022
99           ISL                                             Iceland  2022
100          ISR                                              Israel  2022
101          ITA                                               Italy  2022
102          JAM                                             Jamaica  2022
103          JOR                                              Jordan  2022
104          JPN                                               Japan  2022
105          KAZ                                          Kazakhstan  2022
106          KEN                                               Kenya  2022
107          KGZ                                     Kyrgyz Republic  2022
108          KHM                                            Cambodia  2022
109          KIR                                            Kiribati  2022
110          KNA                                 St. Kitts and Nevis  2022
111          KOR                                         Korea, Rep.  2022
112          KWT                                              Kuwait  2022
113          LAC   Latin America & Caribbean (excluding high income)  2022
114          LAO                                             Lao PDR  2022
115          LBN                                             Lebanon  2022
116          LBR                                             Liberia  2022
117          LBY                                               Libya  2022
118          LCA                                           St. Lucia  2022
119          LCN                           Latin America & Caribbean  2022
120          LDC        Least developed countries: UN classification  2022
121          LIC                                          Low income  2022
122          LIE                                       Liechtenstein  2022
123          LKA                                           Sri Lanka  2022
124          LMC                                 Lower middle income  2022
125          LMY                                 Low & middle income  2022
126          LSO                                             Lesotho  2022
127          LTE                           Late-demographic dividend  2022
128          LTU                                           Lithuania  2022
129          LUX                                          Luxembourg  2022
130          LVA                                              Latvia  2022
131          MAR                                             Morocco  2022
132          MCO                                              Monaco  2022
133          MDA                                             Moldova  2022
134          MDG                                          Madagascar  2022
135          MDV                                            Maldives  2022
136          MEA                          Middle East & North Africa  2022
137          MEX                                              Mexico  2022
138          MHL                                    Marshall Islands  2022
139          MIC                                       Middle income  2022
140          MKD                                     North Macedonia  2022
141          MLI                                                Mali  2022
142          MLT                                               Malta  2022
143          MMR                                             Myanmar  2022
144          MNA  Middle East & North Africa (excluding high income)  2022
145          MNE                                          Montenegro  2022
146          MNG                                            Mongolia  2022
147          MOZ                                          Mozambique  2022
148          MRT                                          Mauritania  2022
149          MUS                                           Mauritius  2022
150          MWI                                              Malawi  2022
151          MYS                                            Malaysia  2022
152          NAC                                       North America  2022
153          NAM                                             Namibia  2022
154          NER                                               Niger  2022
155          NGA                                             Nigeria  2022
156          NIC                                           Nicaragua  2022
157          NLD                                         Netherlands  2022
158          NOR                                              Norway  2022
159          NPL                                               Nepal  2022
160          NRU                                               Nauru  2022
161          NZL                                         New Zealand  2022
162          OED                                        OECD members  2022
163          OMN                                                Oman  2022
164          OSS                                  Other small states  2022
165          PAK                                            Pakistan  2022
166          PAN                                              Panama  2022
167          PER                                                Peru  2022
168          PHL                                         Philippines  2022
169          PLW                                               Palau  2022
170          PNG                                    Papua New Guinea  2022
171          POL                                              Poland  2022
172          PRE                            Pre-demographic dividend  2022
173          PRK                           Korea, Dem. People's Rep.  2022
174          PRT                                            Portugal  2022
175          PRY                                            Paraguay  2022
176          PSS                         Pacific island small states  2022
177          PST                           Post-demographic dividend  2022
178          QAT                                               Qatar  2022
179          ROU                                             Romania  2022
180          RUS                                  Russian Federation  2022
181          RWA                                              Rwanda  2022
182          SAS                                          South Asia  2022
183          SAU                                        Saudi Arabia  2022
184          SDN                                               Sudan  2022
185          SEN                                             Senegal  2022
186          SGP                                           Singapore  2022
187          SLB                                     Solomon Islands  2022
188          SLE                                        Sierra Leone  2022
189          SLV                                         El Salvador  2022
190          SMR                                          San Marino  2022
191          SOM                                             Somalia  2022
192          SRB                                              Serbia  2022
193          SSA          Sub-Saharan Africa (excluding high income)  2022
194          SSD                                         South Sudan  2022
195          SSF                                  Sub-Saharan Africa  2022
196          SST                                        Small states  2022
197          STP                               Sao Tome and Principe  2022
198          SUR                                            Suriname  2022
199          SVK                                     Slovak Republic  2022
200          SVN                                            Slovenia  2022
201          SWE                                              Sweden  2022
202          SWZ                                            Eswatini  2022
203          SYC                                          Seychelles  2022
204          SYR                                Syrian Arab Republic  2022
205          TCD                                                Chad  2022
206          TEA                    East Asia & Pacific (IDA & IBRD)  2022
207          TEC                  Europe & Central Asia (IDA & IBRD)  2022
208          TGO                                                Togo  2022
209          THA                                            Thailand  2022
210          TJK                                          Tajikistan  2022
211          TKM                                        Turkmenistan  2022
212          TLA              Latin America & Caribbean (IDA & IBRD)  2022
213          TLS                                         Timor-Leste  2022
214          TMN             Middle East & North Africa (IDA & IBRD)  2022
215          TON                                               Tonga  2022
216          TSA                             South Asia (IDA & IBRD)  2022
217          TSS                     Sub-Saharan Africa (IDA & IBRD)  2022
218          TTO                                 Trinidad and Tobago  2022
219          TUN                                             Tunisia  2022
220          TUR                                             Turkiye  2022
221          TUV                                              Tuvalu  2022
222          TZA                                            Tanzania  2022
223          UGA                                              Uganda  2022
224          UKR                                             Ukraine  2022
225          UMC                                 Upper middle income  2022
226          URY                                             Uruguay  2022
227          USA                                       United States  2022
228          UZB                                          Uzbekistan  2022
229          VCT                      St. Vincent and the Grenadines  2022
230          VEN                                       Venezuela, RB  2022
231          VNM                                             Vietnam  2022
232          VUT                                             Vanuatu  2022
233          WSM                                               Samoa  2022
234          YEM                                         Yemen, Rep.  2022
235          ZAF                                        South Africa  2022
236          ZMB                                              Zambia  2022
237          ZWE                                            Zimbabwe  2022

In [55]:
wbmin = wbonly.groupby(['country_code', 'country_name_wb'])\
.agg({'year':'min'}).reset_index()
wbmin

    country_code                                     country_name_wb  year
0            AFG                                         Afghanistan  2022
1            AGO                                              Angola  2022
2            ALB                                             Albania  2022
3            AND                                             Andorra  1960
4            ARB                                          Arab World  1960
5            ARE                                United Arab Emirates  1960
6            ARG                                           Argentina  2022
7            ARM                                             Armenia  1960
8            ATG                                 Antigua and Barbuda  1960
9            AUS                                           Australia  2022
10           AUT                                             Austria  2022
11           AZE                                          Azerbaijan  1960
12           BDI                                             Burundi  2022
13           BEL                                             Belgium  2022
14           BEN                                               Benin  2022
15           BFA                                        Burkina Faso  2022
16           BGD                                          Bangladesh  1960
17           BGR                                            Bulgaria  2022
18           BHR                                             Bahrain  2022
19           BHS                                        Bahamas, The  1960
20           BIH                              Bosnia and Herzegovina  1960
21           BLR                                             Belarus  1960
22           BLZ                                              Belize  1960
23           BOL                                             Bolivia  2022
24           BRA                                              Brazil  2022
25           BRB                                            Barbados  2022
26           BRN                                   Brunei Darussalam  1960
27           BTN                                              Bhutan  2022
28           BWA                                            Botswana  2022
29           CAF                            Central African Republic  2022
30           CAN                                              Canada  2022
31           CEB                      Central Europe and the Baltics  1960
32           CHE                                         Switzerland  2022
33           CHL                                               Chile  2022
34           CHN                                               China  2022
35           CIV                                       Cote d'Ivoire  2022
36           CMR                                            Cameroon  1960
37           COD                                    Congo, Dem. Rep.  2022
38           COG                                         Congo, Rep.  2022
39           COL                                            Colombia  2022
40           COM                                             Comoros  2022
41           CPV                                          Cabo Verde  2022
42           CRI                                          Costa Rica  2022
43           CSS                              Caribbean small states  1960
44           CUB                                                Cuba  2022
45           CYP                                              Cyprus  2022
46           CZE                                             Czechia  2022
47           DEU                                             Germany  2022
48           DJI                                            Djibouti  2022
49           DMA                                            Dominica  1960
50           DNK                                             Denmark  2022
51           DOM                                  Dominican Republic  2022
52           DZA                                             Algeria  2022
53           EAP         East Asia & Pacific (excluding high income)  1960
54           EAR                          Early-demographic dividend  1960
55           EAS                                 East Asia & Pacific  1960
56           ECA       Europe & Central Asia (excluding high income)  1960
57           ECS                               Europe & Central Asia  1960
58           ECU                                             Ecuador  2022
59           EGY                                    Egypt, Arab Rep.  2022
60           EMU                                           Euro area  1960
61           ERI                                             Eritrea  2022
62           ESP                                               Spain  2022
63           EST                                             Estonia  1960
64           ETH                                            Ethiopia  2022
65           EUU                                      European Union  1960
66           FCS            Fragile and conflict affected situations  1960
67           FIN                                             Finland  2022
68           FJI                                                Fiji  2022
69           FRA                                              France  2022
70           FSM                               Micronesia, Fed. Sts.  1960
71           GAB                                               Gabon  2022
72           GBR                                      United Kingdom  2022
73           GEO                                             Georgia  1960
74           GHA                                               Ghana  2022
75           GIN                                              Guinea  2022
76           GMB                                         Gambia, The  2022
77           GNB                                       Guinea-Bissau  2022
78           GNQ                                   Equatorial Guinea  2022
79           GRC                                              Greece  2022
80           GRD                                             Grenada  1960
81           GTM                                           Guatemala  2022
82           GUY                                              Guyana  2022
83           HIC                                         High income  1960
84           HND                                            Honduras  2022
85           HPC              Heavily indebted poor countries (HIPC)  1960
86           HRV                                             Croatia  1960
87           HTI                                               Haiti  2022
88           HUN                                             Hungary  2022
89           IBD                                           IBRD only  1960
90           IBT                                    IDA & IBRD total  1960
91           IDA                                           IDA total  1960
92           IDB                                           IDA blend  1960
93           IDN                                           Indonesia  2022
94           IDX                                            IDA only  1960
95           IND                                               India  2022
96           IRL                                             Ireland  2022
97           IRN                                  Iran, Islamic Rep.  2022
98           IRQ                                                Iraq  2022
99           ISL                                             Iceland  2022
100          ISR                                              Israel  2022
101          ITA                                               Italy  2022
102          JAM                                             Jamaica  2022
103          JOR                                              Jordan  2022
104          JPN                                               Japan  2022
105          KAZ                                          Kazakhstan  1960
106          KEN                                               Kenya  2022
107          KGZ                                     Kyrgyz Republic  1960
108          KHM                                            Cambodia  2022
109          KIR                                            Kiribati  1960
110          KNA                                 St. Kitts and Nevis  1960
111          KOR                                         Korea, Rep.  2022
112          KWT                                              Kuwait  2022
113          LAC   Latin America & Caribbean (excluding high income)  1960
114          LAO                                             Lao PDR  2022
115          LBN                                             Lebanon  2022
116          LBR                                             Liberia  2022
117          LBY                                               Libya  2022
118          LCA                                           St. Lucia  1960
119          LCN                           Latin America & Caribbean  1960
120          LDC        Least developed countries: UN classification  1960
121          LIC                                          Low income  1960
122          LIE                                       Liechtenstein  1960
123          LKA                                           Sri Lanka  2022
124          LMC                                 Lower middle income  1960
125          LMY                                 Low & middle income  1960
126          LSO                                             Lesotho  2022
127          LTE                           Late-demographic dividend  1960
128          LTU                                           Lithuania  1960
129          LUX                                          Luxembourg  2022
130          LVA                                              Latvia  1960
131          MAR                                             Morocco  2022
132          MCO                                              Monaco  1960
133          MDA                                             Moldova  1960
134          MDG                                          Madagascar  2022
135          MDV                                            Maldives  2022
136          MEA                          Middle East & North Africa  1960
137          MEX                                              Mexico  2022
138          MHL                                    Marshall Islands  1960
139          MIC                                       Middle income  1960
140          MKD                                     North Macedonia  1960
141          MLI                                                Mali  2022
142          MLT                                               Malta  2022
143          MMR                                             Myanmar  2022
144          MNA  Middle East & North Africa (excluding high income)  1960
145          MNE                                          Montenegro  1960
146          MNG                                            Mongolia  2022
147          MOZ                                          Mozambique  2022
148          MRT                                          Mauritania  2022
149          MUS                                           Mauritius  2022
150          MWI                                              Malawi  2022
151          MYS                                            Malaysia  2022
152          NAC                                       North America  1960
153          NAM                                             Namibia  2022
154          NER                                               Niger  2022
155          NGA                                             Nigeria  2022
156          NIC                                           Nicaragua  2022
157          NLD                                         Netherlands  2022
158          NOR                                              Norway  2022
159          NPL                                               Nepal  2022
160          NRU                                               Nauru  1960
161          NZL                                         New Zealand  2022
162          OED                                        OECD members  1960
163          OMN                                                Oman  2022
164          OSS                                  Other small states  1960
165          PAK                                            Pakistan  2022
166          PAN                                              Panama  2022
167          PER                                                Peru  2022
168          PHL                                         Philippines  2022
169          PLW                                               Palau  1960
170          PNG                                    Papua New Guinea  2022
171          POL                                              Poland  2022
172          PRE                            Pre-demographic dividend  1960
173          PRK                           Korea, Dem. People's Rep.  2022
174          PRT                                            Portugal  2022
175          PRY                                            Paraguay  2022
176          PSS                         Pacific island small states  1960
177          PST                           Post-demographic dividend  1960
178          QAT                                               Qatar  2022
179          ROU                                             Romania  2022
180          RUS                                  Russian Federation  2022
181          RWA                                              Rwanda  2022
182          SAS                                          South Asia  1960
183          SAU                                        Saudi Arabia  2022
184          SDN                                               Sudan  2022
185          SEN                                             Senegal  2022
186          SGP                                           Singapore  2022
187          SLB                                     Solomon Islands  2022
188          SLE                                        Sierra Leone  2022
189          SLV                                         El Salvador  2022
190          SMR                                          San Marino  1960
191          SOM                                             Somalia  2022
192          SRB                                              Serbia  2022
193          SSA          Sub-Saharan Africa (excluding high income)  1960
194          SSD                                         South Sudan  1960
195          SSF                                  Sub-Saharan Africa  1960
196          SST                                        Small states  1960
197          STP                               Sao Tome and Principe  2022
198          SUR                                            Suriname  2022
199          SVK                                     Slovak Republic  1960
200          SVN                                            Slovenia  1960
201          SWE                                              Sweden  2022
202          SWZ                                            Eswatini  2022
203          SYC                                          Seychelles  2022
204          SYR                                Syrian Arab Republic  2022
205          TCD                                                Chad  2022
206          TEA                    East Asia & Pacific (IDA & IBRD)  1960
207          TEC                  Europe & Central Asia (IDA & IBRD)  1960
208          TGO                                                Togo  2022
209          THA                                            Thailand  2022
210          TJK                                          Tajikistan  1960
211          TKM                                        Turkmenistan  1960
212          TLA              Latin America & Caribbean (IDA & IBRD)  1960
213          TLS                                         Timor-Leste  2022
214          TMN             Middle East & North Africa (IDA & IBRD)  1960
215          TON                                               Tonga  1960
216          TSA                             South Asia (IDA & IBRD)  1960
217          TSS                     Sub-Saharan Africa (IDA & IBRD)  1960
218          TTO                                 Trinidad and Tobago  2022
219          TUN                                             Tunisia  2022
220          TUR                                             Turkiye  2022
221          TUV                                              Tuvalu  1960
222          TZA                                            Tanzania  2022
223          UGA                                              Uganda  2022
224          UKR                                             Ukraine  1960
225          UMC                                 Upper middle income  1960
226          URY                                             Uruguay  2022
227          USA                                       United States  2022
228          UZB                                          Uzbekistan  1960
229          VCT                      St. Vincent and the Grenadines  1960
230          VEN                                       Venezuela, RB  2022
231          VNM                                             Vietnam  2022
232          VUT                                             Vanuatu  2022
233          WSM                                               Samoa  1960
234          YEM                                         Yemen, Rep.  2022
235          ZAF                                        South Africa  2022
236          ZMB                                              Zambia  2022
237          ZWE                                            Zimbabwe  2022

In [56]:
#Then use .query() to keep only the observations that were present in the V-Dem data but not the World Bank.
vdemonly = merge1.query("matched =='right_only'")

In [57]:
# Then save the minimum and maximum values of 'year' for each country.
vdemmax = vdemonly.groupby(['country_code', 'country_name_vdem'])\
.agg({'year':'max'}).reset_index()
vdemmax

  country_code           country_name_vdem  year
0          DDR  German Democratic Republic  1990
1          HKG                   Hong Kong  2021
2          PSE         Palestine/West Bank  2021
3          PSG              Palestine/Gaza  2021
4          SML                  Somaliland  2021
5          TWN                      Taiwan  2021
6          VDR         Republic of Vietnam  1975
7          XKX                      Kosovo  2021
8          YMD                 South Yemen  1990
9          ZZB                    Zanzibar  2021

In [58]:
vdemmin = vdemonly.groupby(['country_code', 'country_name_vdem'])\
.agg({'year':'min'}).reset_index()
vdemmin

  country_code           country_name_vdem  year
0          DDR  German Democratic Republic  1960
1          HKG                   Hong Kong  1960
2          PSE         Palestine/West Bank  1967
3          PSG              Palestine/Gaza  1960
4          SML                  Somaliland  1991
5          TWN                      Taiwan  1960
6          VDR         Republic of Vietnam  1960
7          XKX                      Kosovo  1999
8          YMD                 South Yemen  1960
9          ZZB                    Zanzibar  1960

(k)

* DEU in world bank data is germany; DDR in vdem data is german Democratic Republic; I think they might be the same thing.
* The VDEM dataset includes districts that are not officially recognized as independent countries.
* Each organization or research project may have its own specific criteria and methodology for data collection. Differences in the data collection process, including the selection of countries, might lead to variations in country coverage.

(l)

In [61]:
#repeat the merge, this time dropping all unmatched observations. This time there is no need to validate the type of merge, and no need to define a variable to indicate matching.
pd.set_option('display.max_row', 4)
merge2 = pd.merge(wb1, vdem, on = ['country_code', 'year'])
merge2

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_surve,cause_of_death,...,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality,country_name_vdem,democracy
0,AFG,Afghan...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.080
1,AFG,Afghan...,1961,NaN,NaN,57.878356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9974,ZWE,Zimbabwe,2020,30.3,52.747667,41.876696,8.772859,30.761677,NaN,NaN,...,480.16,NaN,27.214747,NaN,7.898,NaN,-1.113408,83.3,Zimbabwe,0.293
9975,ZWE,Zimbabwe,2021,30.3,48.979927,41.876696,8.849899,NaN,NaN,NaN,...,NaN,NaN,27.214747,NaN,8.067,NaN,-1.135830,NaN,Zimbabwe,0.291

# (3)

In [62]:
world = wb2

In [63]:
world

,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_surve,cause_of_death,children_in_employment,co2_emissions,...,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality
14679,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14680,1961,NaN,NaN,35.879317,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14740,2021,71.331487,91.413941,36.841665,4.304093,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14.55226,NaN,6.201871,NaN,NaN,NaN
14741,2022,NaN,NaN,NaN,4.329327,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.772710,NaN,NaN,NaN

In [64]:
timeseries = merge2

In [65]:
timeseries

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_surve,cause_of_death,...,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality,country_name_vdem,democracy
0,AFG,Afghan...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.080
1,AFG,Afghan...,1961,NaN,NaN,57.878356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghan...,0.083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9974,ZWE,Zimbabwe,2020,30.3,52.747667,41.876696,8.772859,30.761677,NaN,NaN,...,480.16,NaN,27.214747,NaN,7.898,NaN,-1.113408,83.3,Zimbabwe,0.293
9975,ZWE,Zimbabwe,2021,30.3,48.979927,41.876696,8.849899,NaN,NaN,NaN,...,NaN,NaN,27.214747,NaN,8.067,NaN,-1.135830,NaN,Zimbabwe,0.291

1. First NF: Every table must have a primary key; The values inside every cell in every table must be atomic; There are no repeating groups.
   * In the timeseries table there's two same columns so we can drop one.

In [66]:
timeseries = timeseries.drop('country_name_vdem', axis = 1)

2. Second NF: All the non-prime attributes need to depend on ALL of the attributes within the primary key.
 * In timeseries table, the "country_name_wb" only depends on the "country_code" doesn't include "year". So we make a new table and drop this column.

In [67]:
country.head(3).T

                    0          1          2
country...        AFG        AGO        ALB
country...  Afghan...     Angola    Albania
...               ...        ...        ...
region      South ...  Sub-Sa...  Europe...
income_...  Low in...  Lower ...  Upper ...

[6 rows x 3 columns]

In [68]:
timeseries = timeseries.drop('country_name_wb', axis = 1)

4. Third NF: No non-prime attribute has a functional dependency on another non-prime attribute.
   * Three tables follows 3rd NF.

# (4)

In [69]:
dbserver = psycopg2.connect(
    user = 'postgres',
    password = POSTGRES_PASSWORD,
    host = 'postgres'
)
dbserver.autocommit = True

In [70]:
cursor = dbserver.cursor()

In [71]:
try:
    cursor.execute('CREATE DATABASE cardib')
except:
    cursor.execute('DROP DATABASE cardib')
    cursor.execute('CREATE DATABASE cardib')

In [72]:
engine = create_engine("postgresql+psycopg2://{user}:{pw}@{service}/{db}".format(
    user = 'postgres',
    pw = POSTGRES_PASSWORD,
    service = 'postgres',
    db = 'cardib'
))

In [73]:
world.to_sql('world', con=engine, index=False, chunksize=1000, if_exists='replace')

63

In [74]:
country.to_sql('country', con=engine, index=False, chunksize=1000, if_exists='replace')

239

In [75]:
timeseries.to_sql('timeseries', con=engine, index=False, chunksize=1000, if_exists='replace')

1156

# (5)

Project CARDIB {
  database_type: 'PostgreSQL'
  Note: '''
    # My Lab3 assignment for data engineering class
  '''
}
Table timeseries as TS {
country_code                                             varchar [pk]
year                                                         int [pk]
access_to_clean_fuels_and_technologies_for_cooking         float
access_to_electricity                                      float
agricultural_land                                          float
agriculture                                                float
annual_freshwater_withdrawals                              float
annualized_average_growth_rate_in_per_capita_real_surve    float
cause_of_death                                             float
children_in_employment                                     float
co2_emissions                                              float
coastal_protection                                         float
control_of_corruption                                      float
cooling_degree_days                                        float
economic_and_social_rights_performance_score               float
electricity_production_from_coal_sources                   float
energy_imports                                             float
energy_intensity_level_of_primary_energy                   float
energy_use                                                 float
fertility_rate                                             float
food_production_index                                      float
forest_area                                                float
fossil_fuel_energy_consumption                             float
freshwater_withdrawal                                      float
gdp_growth                                                 float
ghg_net_emissions                                          float
gini_index                                                 float
government_effectiveness                                   float
government_expenditure_on_education                        float
gross_school_enrollment                                    float
heat_index_35                                              float
heating_degree_days                                        float
hospital_beds                                              float
income_share_held_by_lowest_20pct                          float
individuals_using_the_internet                             float
labor_force_participation_rate                             float
land_surface_temperature                                   float
life_expectancy_at_birth                                   float
literacy_rate                                              float
mammal_species                                             float
mean_drought_index                                         float
methane_emissions                                          float
mortality_rate                                             float
natural_resources_depletion                                float
net_forest_depletion                                       float
net_migration                                              float
nitrous_oxide_emissions                                    float
patent_applications                                        float
people_using_safely_managed_drinking_water_services        float
people_using_safely_managed_sanitation_services            float
pm2_5_air_pollution                                        float
political_stability_and_absence_of_violence                float
population_ages_65_and_above                               float
population_density                                         float
poverty_headcount_ratio_at_national_poverty_lines          float
prevalence_of_overweight                                   float
prevalence_of_undernourishment                             float
primary_school_enrollment                                  float
proportion_of_seats_held_by_women_in_national_parliamen    float
ratio_of_female_to_male_labor_force_participation_ra       float
regulatory_quality                                         float
renewable_electricity_output                               float
renewable_energy_consumption                               float
research_and_development_expenditure                       float
rule_of_law                                                float
scientific_and_technical_journal_articles                  float
strength_of_legal_rights_index                             float
terrestrial_and_marine_protected_areas                     float
tree_cover_loss                                            float
unemployment                                               float
unmet_need_for_contraception                               float
voice_and_accountability                                   float
water_quality                                              float
democracy                                                  float
  note: "timeseries"
}
Table country as CT{
country_code       varchar [pk]
country_name_wb    varchar
long_name          varchar
currency_unit      varchar
region             varchar
income_group       varchar
  note: "country"
}
Table world as W{
year                                                       int [pk]
access_to_clean_fuels_and_technologies_for_cooking         float
access_to_electricity                                      float
agricultural_land                                          float
agriculture                                                float
annual_freshwater_withdrawals                              float
annualized_average_growth_rate_in_per_capita_real_surve    float
cause_of_death                                             float
children_in_employment                                     float
co2_emissions                                              float
coastal_protection                                         float
control_of_corruption                                      float
cooling_degree_days                                        float
economic_and_social_rights_performance_score               float
electricity_production_from_coal_sources                   float
energy_imports                                             float
energy_intensity_level_of_primary_energy                   float
energy_use                                                 float
fertility_rate                                             float
food_production_index                                      float
forest_area                                                float
fossil_fuel_energy_consumption                             float
freshwater_withdrawal                                      float
gdp_growth                                                 float
ghg_net_emissions                                          float
gini_index                                                 float
government_effectiveness                                   float
government_expenditure_on_education                        float
gross_school_enrollment                                    float
heat_index_35                                              float
heating_degree_days                                        float
hospital_beds                                              float
income_share_held_by_lowest_20pct                          float
individuals_using_the_internet                             float
labor_force_participation_rate                             float
land_surface_temperature                                   float
life_expectancy_at_birth                                   float
literacy_rate                                              float
mammal_species                                             float
mean_drought_index                                         float
methane_emissions                                          float
mortality_rate                                             float
natural_resources_depletion                                float
net_forest_depletion                                       float
net_migration                                              float
nitrous_oxide_emissions                                    float
patent_applications                                        float
people_using_safely_managed_drinking_water_services        float
people_using_safely_managed_sanitation_services            float
pm2_5_air_pollution                                        float
political_stability_and_absence_of_violence                float
population_ages_65_and_above                               float
population_density                                         float
poverty_headcount_ratio_at_national_poverty_lines          float
prevalence_of_overweight                                   float
prevalence_of_undernourishment                             float
primary_school_enrollment                                  float
proportion_of_seats_held_by_women_in_national_parliamen    float
ratio_of_female_to_male_labor_force_participation_ra       float
regulatory_quality                                         float
renewable_electricity_output                               float
renewable_energy_consumption                               float
research_and_development_expenditure                       float
rule_of_law                                                float
scientific_and_technical_journal_articles                  float
strength_of_legal_rights_index                             float
terrestrial_and_marine_protected_areas                     float
tree_cover_loss                                            float
unemployment                                               float
unmet_need_for_contraception                               float
voice_and_accountability                                   float
water_quality                                              float
  note: "world information"
}




Ref: TS.country_code > CT.country_code 
Ref: TS.year > W.year

https://dbdocs.io/yuanhanzhang01/CARDIB

# (6)

In [76]:
# What countries had the highest quality democracies in the year 2021? Join the timeseries and country tables, select the country_name_wb and democracy attributes, rename county_name_wb to country, filter the rows to only those for the year 2021, and sort the rows in descending order by the value of democracy.

myquery = '''
SELECT
    c.country_name_wb AS country,
    t.democracy
FROM
    timeseries t
JOIN
    country c ON t.country_code = c.country_code
WHERE
    t.year = 2021
ORDER BY
    t.democracy DESC;
'''

pd.read_sql_query(myquery, con=engine)

       country  democracy
0      Denmark      0.915
1       Sweden      0.903
..         ...        ...
170    Eritrea      0.072
171  Saudi ...      0.016

[172 rows x 2 columns]

In [78]:
myquery = '''
SELECT 
    t.year,
    t.life_expectancy_at_birth AS CHL_life_expectancy,
    w.life_expectancy_at_birth AS world_life_expectancy
FROM 
    timeseries t
JOIN 
    world w ON t.year = w.year
WHERE 
    t.country_code = 'CHL'
ORDER BY 
    t.year;
'''

pd.read_sql_query(myquery, con=engine)

    year  chl_life_expectancy  world_life_expectancy
0   1960     57.015            50.894180
1   1961     57.537            52.846336
..   ...        ...                  ...
60  2020     79.377            72.243822
61  2021        NaN                  NaN

[62 rows x 3 columns]

In [79]:
myquery = '''
SELECT country.region, SUM(timeseries.co2_emissions) AS co2_emissions
FROM timeseries
JOIN country ON timeseries.country_code = country.country_code
WHERE timeseries.year = 2019
GROUP BY country.region
ORDER BY co2_emissions DESC;

'''

pd.read_sql_query(myquery, con=engine)

       region  co2_emissions
0   Europe...  273.80...
1   Middle...  176.00...
..        ...        ...
5   North ...  29.726128
6   South ...  10.820011

[7 rows x 2 columns]

In [80]:
myquery = '''
SELECT
    c.country_name_wb,
    t1.democracy AS democracy_1960,
    t2.democracy AS democracy_2021,
    t2.democracy - t1.democracy AS democracy_difference
FROM
    country c
JOIN
    (SELECT country_code, democracy FROM timeseries WHERE year = 1960) t1
ON
    c.country_code = t1.country_code
JOIN
    (SELECT country_code, democracy FROM timeseries WHERE year = 2021) t2
ON
    c.country_code = t2.country_code
ORDER BY
    democracy_difference DESC
LIMIT 10;


'''

pd.read_sql_query(myquery, con=engine)

   country_name_wb  democracy_1960  democracy_2021  democracy_difference
0       Spain           0.070           0.854           0.784
1    Portugal           0.128           0.888           0.760
..        ...             ...             ...             ...
8   Seyche...           0.130           0.714           0.584
9      Malawi           0.040           0.619           0.579

[10 rows x 4 columns]

In [81]:
myquery = '''
SELECT
    currency_unit,
    COUNT(*) AS country_count
FROM
    country
GROUP BY
    currency_unit
ORDER BY
    country_count DESC
LIMIT 2;
'''

pd.read_sql_query(myquery, con=engine)

  currency_unit  country_count
0       None            46
1       Euro            24

In [82]:
myquery = '''
SELECT
    c.income_group,
    AVG(t.gini_index) AS average_gini_index
FROM
    country c
JOIN
    timeseries t ON c.country_code = t.country_code
WHERE
    t.year = 2019
GROUP BY
    c.income_group
ORDER BY
    average_gini_index;

'''

pd.read_sql_query(myquery, con=engine)

   income_group  average_gini_index
0   High i...     31.73125
1   Lower ...     37.42000
..        ...          ...
3   Low in...     43.90000
4        None          NaN

[5 rows x 2 columns]